16/Debug/Template.tlog/CL.command.1.tlog
16/Debug/Template.tlog/CL.read.1.tlog
16/Debug/Template.tlog/CL.write.1.tlog
16/Debug/Template.tlog/Template.lastbuildstate
16/Debug/Template.tlog/link.command.1.tlog
16/Debug/Template.tlog/link.read.1.tlog
16/Debug/Template.tlog/link.write.1.tlog
16/Debug/main.obj.enc
16/Debug/vc140.idb
16/Template.sdf
16/Template.vcxproj.filters
